torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchtext==0.14.1
-f https://download.pytorch.org/whl/torch_stable.html
timm==0.4.12
Pillow
pandas
blobfile
gensim
mypy
numpy
pytest
requests
einops
tensorboardX
spacy
pyvi
ftfy
opencv-python
sentencepiece
pyarrow
torchmetrics==0.7.3
transformers
deepspeed==0.4.0
torchscale==0.2.0
sentence_transformers
googletrans==4.0.0rc1
underthesea
